<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>index</title>
</head>
<body>
<h1>Welcome to the Form</h1>

<form>


    <div class="form-group mx-2 my-2">
        <label for="exampleFormControlInput1">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Tonny stark">
    </div>


    <div class="form-group mx-2 my-2">
        <label for="exampleFormControlInput1">Contact</label>
        <input type="tel" class="form-control" id="con" name="contact" placeholder="1234567890">
    </div>


    <div class="form-group mx-2 my-2">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>


    <div class="form-group mx-2 my-2">
        <label for="exampleFormControlSelect1">Select Technologie's</label>
        <select class="form-control" name="select" id="exampleFormControlSelect1">
            <option>Python</option>
            <option>Flutter</option>
            <option>Web designing</option>
            <option>Graphics design</option>
            <option>UI/AI</option>
        </select>
    </div>


    <div class="form-group mx-2 my-2">
        <label for="exampleFormControlTextarea1">Message area</label>
        <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>


    <button class="btn btn-primary mx-2 my-2">
        Submit
    </button>


</form>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>